<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{params.data.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="sitios.length < 1" style="box-shadow: none !important;">
    <img />
    <ion-card-content>
      <ion-card-title class="bg-loading" style="height: 100px; margin-bottom: 20px;" >
      </ion-card-title>
      <p class="bg-loading" style="height: 50px; "></p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block class="bg-loading" color="light" style="box-shadow: none !important;"></button>
        </ion-col>
        <ion-col>
          <button ion-button block class="bg-loading" color="light" style="box-shadow: none !important;"></button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card *ngIf="sitios.length < 1" style="box-shadow: none !important;">
    <img />
    <ion-card-content>
      <ion-card-title class="bg-loading" style="height: 100px; margin-bottom: 20px;" >
      </ion-card-title>
      <p class="bg-loading" style="height: 50px; "></p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block class="bg-loading" color="light" style="box-shadow: none !important;"></button>
        </ion-col>
        <ion-col>
          <button ion-button block class="bg-loading" color="light" style="box-shadow: none !important;"></button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- Aqui termino la animación de loading contenido -->
  <ion-searchbar *ngIf="sitios.length > 0" placeholder="" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-card *ngFor="let sitio of sitios">
    <img [src]="getImgContent(sitio.img)" (click)="openDetailPlace(sitio)"/>
    <ion-card-content (click)="openDetailPlace(sitio)">
      <ion-card-title>
        {{sitio.nombre}}
      </ion-card-title>
      <p [innerHTML]="sitio.resumen"></p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="openPlace(sitio.latitud, sitio.longitud)">{{db.ir}}</button>
        </ion-col>
        <ion-col>
          <button ion-button block color="secondary" (click)="openDetailPlace(sitio)">{{db.masInfo}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>