page-categoria {
  @keyframes preloadAnimation{
    0%{
      background-position: -200px;
    }
    100%{
      background-position: 370px;
    }
  }

  .bg-loading{
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: preloadAnimation;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 30%, #dddddd 60%, #eeeeee 90%);
    display: flex;
  }
}
