page-home {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 50%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 65%;
      width: 100%;
      color: #fff;
    }

  }

  .overlay{
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    right: 0;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.4);
  }

}
