<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{db.appName}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="db.showRadio()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-card (click)="openCategory('Comida', db.comida)">
    <div class="overlay"></div>
    <img src="../../assets/imgs/categorias/restaurant.jpg"/>
    <div class="card-title">{{db.comida}}</div>
    <div class="card-subtitle">{{db.bulletComida}}</div>
  </ion-card>
  <ion-card (click)="openCategory('Entretenimiento', db.entretenimiento)">
    <div class="overlay"></div>
    <img src="../../assets/imgs/categorias/entretenimiento.jpg"/>
    <div class="card-title">{{db.entretenimiento}}</div>
    <div class="card-subtitle">{{db.bulletEntretenimiento}}</div>
  </ion-card>
  <ion-card (click)="openCategory('Atracciones', db.atracciones)">
    <div class="overlay"></div>
    <img src="../../assets/imgs/categorias/museos.jpg"/>
    <div class="card-title">{{db.atracciones}}</div>
    <div class="card-subtitle">{{db.bulletAtracciones}}</div>
  </ion-card>
  <ion-card (click)="openCategory('Transporte', db.transporte)">
    <div class="overlay"></div>
    <img src="../../assets/imgs/categorias/transporte.jpg"/>
    <div class="card-title">{{db.transporte}}</div>
    <div class="card-subtitle">{{db.bulletTransporte}}</div>
  </ion-card>
  <ion-card (click)="openCategory('Hoteles', db.hoteles)">
    <div class="overlay"></div>
    <img src="../../assets/imgs/categorias/hotel.jpg"/>
    <div class="card-title">{{db.hoteles}}</div>
    <div class="card-subtitle">{{db.bulletHoteles}}</div>
  </ion-card>
</ion-content>
