page-contenido {
    p{
        text-align: justify;
        line-height: 1.6em;
        font-size: 1.2em;
    }

    img.portada{
        width: 100%;
        display: block;
    }

    h6{
        color:rgba(0,0,0,0.5);
        text-align: justify;
    }

    ul {
        padding: 0px;
        text-align: center;
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 30px;
          }
        }
      }
}
