<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <img [src]="sitio.data.img" class="portada"/>
  <ion-grid padding>
    <ion-row>
      <ion-col>
        <h3>{{sitio.data.nombre}}</h3>
        <h6 (click)="openPlace(sitio.data.latitud, sitio.data.longitud)"><small>{{db.seEncuentra}}: {{sitio.data.direccion}}</small></h6>
        <h5>
          <small>{{db.puntuacion}}</small>
        </h5>
        <rating [(ngModel)]="sitio.data.puntuacion" 
          readOnly="true" 
          max="5" 
          emptyStarIconName="star-outline" 
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false">
        </rating>
        <h5><small>{{db.infoLugar}}</small></h5>
        <p [innerHTML]="sitio.data.descripcion"></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides pager *ngIf="galeria.length > 0">
          <ion-slide *ngFor="let img of galeria">
            <img [src]="getImgContent(img)">
          </ion-slide>      
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
