<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item menuClose (click)="openPage('HomePage', 'Inicio', db.inicio)">
        <ion-icon name="home" item-start></ion-icon>
        {{db.inicio}}
      </ion-item>

      <ion-item menuClose (click)="openPage('CategoriaPage', 'Comida', db.comida)">
        <ion-icon name="restaurant"  item-start></ion-icon>
        {{db.comida}}
      </ion-item>

      <ion-item menuClose (click)="openPage('CategoriaPage', 'Entretenimiento', db.entretenimiento)">
        <ion-icon name="game-controller-b"  item-start></ion-icon>
        {{db.entretenimiento}}
      </ion-item>

      <ion-item menuClose (click)="openPage('CategoriaPage', 'Atracciones', db.atracciones)">
        <ion-icon name="beer"  item-start></ion-icon>
        {{db.atracciones}}
      </ion-item>

      <ion-item menuClose (click)="openPage('CategoriaPage', 'Transporte', db.transporte)">
        <ion-icon name="bus"  item-start></ion-icon>
        {{db.transporte}}
      </ion-item>

      <ion-item menuClose (click)="openPage('CategoriaPage', 'Hoteles', db.hoteles)">
        <ion-icon name="moon"  item-start></ion-icon>
        {{db.hoteles}}
      </ion-item>


    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>